services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - db-data:/app/database
    depends_on:
      - redis
    environment:
      - REDIS_HOST:redis
      - REDIS_PORT:6379

  redis:
    image: redis:7-alpine
    ports: 
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  db-data:
  redis-data: