services:
  app:
    build: 
      context: .
      dockerfile: docker/php.dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  redis:
    image: redis:7-alpine
    ports: 
      - "6379:6379"

  horizon:
    build: 
      context: .
      dockerfile: docker/horizon.dockerfile
    volumes:
      - .:/app
